.orange{
    background-color: orange;
}
.lightblue{
    background-color: lightblue;
}
.red{
    background-color: red;
}
.pink{
    background-color: pink;
}
.cyan{
    background-color: cyan;
}

.bold{
    font-weight: bold;
}