.grandpa, 
.grandpa div{
    border: 2px solid goldenrod;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
}

/* .grandpa-2, 
.grandpa-2 div{
    border: 2px solid slateblue;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
} */

.flex{
    display: flex;
}